.App {
  display: flex;

  width:60%;
  margin:0px auto; 
}

.column {
  color:black;
  text-align: center;
  width: 50%;
  height: 300px;
  border:4px solid rgb(132, 130, 130);
  margin:5px;
}
.column p{
  font-size:22px;
  margin-top:0px;
  color:black;
}

.container_main{
  justify-content: space-between;
  display: flex;
  background-color: rgb(201, 200, 200);
  margin:5px;
  padding:5px 8px;
  color:white;
  font-size: 15px;
  font-weight: bold;
}

.container {
  display: inline;
  height: 100%;
  border:1px solid black;
  background-color: rgb(175, 237, 237);
  padding:1px;
  border-radius: 10px;
}

button {
  width: 25px;
  height: 20px;
  background-color: rgb(201, 200, 200);
  color: black;
  border-radius: 30px;

}

/*apply hover effect to button tag*/

button:hover {
  background-color: greenyellow;
  color: grey;
}
